/** Center table text */
.cart-table {
	text-align: center;
}
/** Center header text */
.cart-table th {
	text-align: center;
}
/** Quantity numbers are centered */
.cart-table input {
	text-align: center;
}
/** Plus minus button width */
.num-btn {
	width: 30px;
}
/** Gap per line */
.cart-table tbody tr {
	border-top: 1px dashed #cccccc;
}
/** Total price bar */
.total-bar {
	margin: 20px 0;
	background-color: #f0f7fe;
	padding: 15px;
	border-radius: 5px;
}