<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpt202a19.reservation.mapper.OrderMapper">
    <!-- 插入订单数据：Integer insertOrder(Order order) -->
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="oid">
        INSERT INTO t_order (
        uid, recv_name, recv_tel, recv_department, recv_major, recv_grade, recv_details,
        total_time, status, order_time, submit_time, created_user, created_time, modified_user,
        modified_time
        ) VALUES (
        #{uid}, #{recvName}, #{recvTel}, #{recvDepartment}, #{recvMajor}, #{recvGrade},
        #{recvDetails}, #{totalTime}, #{status}, #{orderTime}, #{submitTime}, #{createdUser},
        #{createdTime}, #{modifiedUser}, #{modifiedTime}
        )
    </insert>

    <!-- 插入订单商品数据：Integer insertOrderItem(OrderItem orderItem) -->
    <insert id="insertOrderItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_order_item (
        oid, roid, title, image, time, num, created_user,
        created_time, modified_user, modified_time
        ) VALUES (
        #{oid}, #{roid}, #{title}, #{image}, #{time}, #{num}, #{createdUser},
        #{createdTime}, #{modifiedUser}, #{modifiedTime}
        )
    </insert>
</mapper>